.searchBar {
  .type {
    button {
      padding: 16px 36px;
      border: 1px solid#999;
      cursor: pointer;
      text-transform: capitalize;
      background-color: #fff;
      &.active {
        background-color: #000;
        color: #fff;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-right: none;
      }
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: none;
      }
    }
  }
}
