@import "../../layout.scss";

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  a {
    transition: all 0.4 ease;
    -webkit-transition: all 0.4 ease;
    -moz-transition: all 0.4 ease;
    -ms-transition: all 0.4 ease;
    -o-transition: all 0.4 ease;
    @include sm {
      display: none;
    }
    &:hover {
      scale: 1.05;
    }
  }

  .left {
    // background: blue;
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;
    height: 100%;

    .logo {
      margin: 10px;
      font-weight: bold;
      font-size: 20px;
      display: flex;
      gap: 10px;
      align-items: center;
      img {
        width: 28px;
      }

      span {
        @include md {
          display: none;
        }

        @include sm {
          display: initial;
        }
      }
    }
  }

  .right {
    background: #fcf5f3;
    // margin: 10px;
    height: 100%;
    flex: 2;
    display: flex;
    align-items: center;
    // gap: 50px;
    justify-content: flex-end;
    a {
      padding: 12px 24px;
      margin: 20px;
    }

    .register {
      background: #fece51;
      border-radius: 5px;
      padding: 10px;
      margin: 20px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    .menuIcon {
      display: none;
      z-index: 22;
      @include sm {
        display: inline;
        cursor: pointer;
      }
      img {
        width: 28px;
      }
    }
    .menu {
      // padding-top: 50px;
      position: absolute;
      top: 0;
      right: -50%;
      background-color: black;
      color: white;
      height: 100vh;
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 1s ease;
      // font-size: 24px;
      font-size: bold;
      @include lg {
        display: none;
      }
      @include md {
        display: none;
      }
      &.active {
        right: 0px;
      }
      @include sm {
        a {
          display: initial;

          // display: flex;
        }
      }
    }
  }
}
