* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 100%;
  font-family: "Lato", sans-serif;
  // overflow: hidden;
}
