@import "./responsive.scss";

.layout {
  height: 100vh;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 auto;

  @include sm {
    max-width: 624px;
  }

  @include md {
    max-width: 724px;
  }
  @include lg {
    max-width: 1240px;
  }
}
