@mixin sm {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin md {
  @media (min-width: 739px) and (max-width: 1024px) {
    @content;
  }
}
@mixin lg {
  @media (min-width: 1025px) and (max-width: 1366px) {
    @content;
  }
}
